extends layout

block content
    .user
        a(href='/user/profile')
            .chip
                .fa.fa-user
                if(user)
                    |  #{user}
                else
                    | No user
    .row
        #editor.col.m6.s12    
            .col.s12.m12
                a(href='#modal-list' data-tooltip="Mes documents" data-position="top").waves-effect.waves-light.btn.btn-flat.modal-trigger.tooltipped
                    .fa.fa-list
                a(onclick="send()" data-tooltip="Enregistrer" data-position="top").btn.btn-flat.waves-effect.waves-light.tooltipped
                    .fa.fa-save
                a(data-target='modal-confirm' data-tooltip="Supprimer" data-position="top").btn.btn-flat.waves-effect.waves-light.modal-trigger.tooltipped
                    .fa.fa-trash-o
                if(document)
                    a(href="/api/dl/#{document._id}.md" target='_blank' data-tooltip="Télécharger en MD" data-position="top").waves-effect.waves-light.btn.btn-flat.tooltipped
                        .fa.fa-file-text-o
                    a(href="/api/dl/#{document._id}.pdf" target='_blank' data-tooltip="Télécharger en PDF" data-position="top").waves-effect.waves-light.btn.btn-flat.tooltipped
                        .fa.fa-file-pdf-o
                    a(href="/api/dl/#{document._id}.docx" target='_blank' data-tooltip="Télécharger en DOCX" data-position="top").waves-effect.waves-light.btn.btn-flat.tooltipped
                        .fa.fa-file-word-o
                    a(onclick="newDocument()" data-tooltip="Nouveau" data-position="top").btn.btn-flat.waves-effect.waves-light.tooltipped
                        .fa.fa-plus
                    a(onclick="parameters()" data-tooltip="Paramètres" data-position="top").btn.btn-flat.waves-effect.waves-light#preview-btn.tooltipped
                        .fa.fa-cog
                a(onclick="toggleNumberedTitles()" data-tooltip="Numérotation des titres" data-position="top").btn.btn-flat.waves-effect.waves-light#preview-btn.tooltipped
                    .fa.fa-list-ol
                a(onclick="togglePreview()" data-tooltip="Mode Preview" data-position="top").btn.btn-flat.waves-effect.waves-light#preview-btn.tooltipped
                    .fa.fa-eye-slash
                #last-save
            form(onSubmit="return false;").col.m12.s12
                .row
                    .input-field.col.s12
                        if(document)
                            input#title.editable(type="text" value='#{document.title}' autocomplete="off")
                        else
                            input#title.editable(type="text" placeholder="Titre du document")
                .row
                    .input-field.col.s12
                        if(document)
                            textarea(placeholder='Contenu du document...')#content.materialize-textarea.editable #{document.content}
                        else 
                            textarea(placeholder='Contenu du document...')#content.materialize-textarea.editable
        #view.numbered-view.col.m6.s12
                    
block script
    script(src="/js/editor.js")
    script(src="/js/tools.js")
    script
        if(document)
            | var id = "#{document._id}";
        else
            | var id = 0;
            
block modals
    #modal-list.modal.bottom-sheet
        .modal-content
            h4 Documents
            if(list)
                .collection
                    each doc in list
                        a.collection-item(href='/#{doc._id}' class='link-#{doc._id}') #{doc.title}
            else
                | Pas de document
                
    #modal-confirm.modal
        .modal-content
            h5 Êtes-vous certain de vouloir supprimer ?
        .modal-footer
            a(onclick="del()").btn.btn-flat.waves-effect.modal-action.modal-close Oui
            a.btn.btn-flat.waves-effect.modal-action.modal-close Non

    #modal-parameters.modal
        .modal-content
            h5 Paramètres
            p Vous pouvez modifier ici les paramètres de conversion pour le format PDF.
            .row
                .input-field.col.s12.m6
                    if(document)
                        input#username(type='text' value="#{document.username}")
                    else 
                        input#username(type='text')
                    label(for="username") Nom Prénom
                .input-field.col.s12.m6
                    if(document)
                        input#context(type='text' value="#{document.context}")
                    else
                        input#context(type='text')
                    label(for="context") Contexte
                .switch.col.s12.m12
                    span Table des matières: 
                    label  Off 
                        input#toc(type='checkbox')
                        span.lever
                        |On
                    if(document)
                        script.
                            $("#toc").prop('checked',#{document.toc});
        .modal-footer
            a(href="#").modal-action.modal-close.btn-flat Fermer
