extends layout

block content
    .row
        .row#menu
            a(onclick="toMarkdown()").btn.btn-flat.waves-effect.waves-light Convertir
            a(onclick="send()").btn.btn-flat.waves-effect.waves-light Sauver
            a(onclick="del()").btn.btn-flat.waves-effect.waves-light Supprimer
            a.waves-effect.waves-light.btn.btn-flat.modal-trigger(href='#modal-list') Liste
            a(onclick="toogleLarge()").btn.btn-flat.waves-effect.waves-light.hide-on-small-only#large-btn Large
        form.col.m6.s12#editor
            .row
                .input-field.col.s12
                    if(document)
                        input#title(type="text" value='#{document.title}').validate
                    else
                        input#title(type="text").validate
                    label(for='title') Titre                    
            .row
                .input-field.col.s12
                    if(document)
                        textarea#content.materialize-textarea #{document.content}
                    else 
                        textarea#content.materialize-textarea
                    label(for='content') Contenu
        p#view.col.m6.s12
                    
block script
    script(src="/js/editor.js")
    script
        if(document)
            | var id = "#{document._id}";
        else
            | var id = 0;
            
block modals
    #modal-list.modal.bottom-sheet
        .modal-content
            h4 Documents
            if(list)
                .collection
                    each doc in list
                        a.collection-item(href='/#{doc._id}' class='link-#{doc._id}') #{doc.title}
            else
                | Pas de document
