extends layout

block content
    .container.row
        .page-header
            h1 Profil de #{user.local.name}
        .col.m3.s12
            .menu-profile
                a(href='/').btn
                    .fa.fa-edit  Editor
                button.btn#getToken 
                    .fa.fa-key  Get a token
                a(href='/user/logout').btn
                    .fa.fa-sign-out  Logout
        .col.m9.s12
                .col-sm-12
                    .well
                        | <strong>ID :</strong> !{user._id} <br>
                        | <strong>e-Mail :</strong> !{user.local.email} <br>
                        //| <strong>password :</strong> !{user.local.password} <br>
                        <br>
                                        
                    #token-well.hiddendiv
                        h3
                            .fa.fa-key  Token
                        .col-sm-12
                            input(type='text').form-control#token
                            | <br><strong>Expiration :</strong> 
                            span#expiration-date
                    
block script
    script.
        $('#getToken').click(function(){
            var token = $.getJSON('/user/!{user._id}/token', function(tokenString){
                if(tokenString.hasOwnProperty('token') && tokenString.hasOwnProperty('expire')) {
                    var exp = new Date(tokenString.expire);
                    
                    $('#getToken').remove();
                    $("#token").val(tokenString.token);
                    $("#expiration-date").text(
                        exp.getDate() + "/" + (exp.getMonth() + 1) + "/" + exp.getFullYear() + " "+
                        exp.getHours() + ":" + exp.getMinutes()
                        );
                    $("#token-well").removeClass('hiddendiv');
                };
            })
        });
